.container {
  position: absolute;
  /*border: 1px solid red;*/
}
.active-link {
  z-index: 40;
}
.end-chip {
  width: 210px;
  z-index: 100;
  min-height: 20px;
  font-size: 14px;
  line-height: 10px;
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate270 {
  transform: rotate(270deg);
}

.path-forward-request {
  stroke-dasharray: 5;
  animation-name: dashforward;
	animation-duration: 30s;
	animation-timing-function: linear;
  animation-iteration-count: infinite;
  stroke:blue;
}

.path-forward-response {
  stroke-dasharray: 15;
  animation-name: dashforward;
	animation-duration: 30s;
	animation-timing-function: linear;
  animation-iteration-count: infinite;
  stroke:blueviolet;
}

@keyframes dashforward {
  to {
    stroke-dashoffset: -1000;
  }
}

.path-backward-request {
  stroke-dasharray: 5;
  animation-name: dashbackward;
	animation-duration: 30s;
	animation-timing-function: linear;
  animation-iteration-count: infinite;
  stroke:blue;
}

.path-backward-response {
  stroke-dasharray: 15;
  animation-name: dashbackward;
	animation-duration: 30s;
	animation-timing-function: linear;
  animation-iteration-count: infinite;
  stroke:blueviolet;
}


@keyframes dashbackward {
  to {
    stroke-dashoffset: 1000;
  }
}
