<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenavServers mode="over" position="end">
    <h2>Liste des serveurs</h2>
    <cdk-accordion class="example-accordion">
      <app-server-editor *ngFor="let server of allServers$ | async; let index = index;" [server]="server" [index]="index"></app-server-editor>
      <app-server-editor [index]="1000"></app-server-editor>
    </cdk-accordion>
  </mat-sidenav>
  <mat-sidenav #sidenavScenario mode="over">
    <h2>Liste des scénarios</h2>
    <cdk-accordion class="example-accordion">
      <app-scenario-editor *ngFor="let scenario of scenarios$ | async; let index = index;" [scenario]="scenario" [index]="index"></app-scenario-editor>
      <app-scenario-editor [index]="1000"></app-scenario-editor>
    </cdk-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button mat-flat-button (click)="sidenavServers.close(); sidenavScenario.toggle()" color="primary">
        Scenarios <mat-icon>auto_stories</mat-icon>
      </button>
      <button mat-flat-button (click)="sidenavScenario.close();sidenavServers.toggle()" color="primary">
        Serveurs <mat-icon>computer</mat-icon>
      </button>
      <button mat-icon-button *ngIf="saveNeeded()" (click)="save()">
        <mat-icon>save</mat-icon>
      </button>
    </mat-toolbar>
    <div class="container">
      <div>
        <cdk-accordion class="example-accordion">
          <cdk-accordion-item *ngFor="let scenario of activeScenarios$ | async; let index = index;" #accordionItem="cdkAccordionItem" class="example-accordion-item" [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
                              [attr.aria-controls]="'accordion-body-' + index">
            <div class="example-accordion-item-header">
              {{ scenario.name }}
            </div>
            <div class="example-accordion-item-body" role="region" [style.display]="isScenarioActive(scenario, activeScenarios$ | async) ? '' : 'none'" [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
              <app-scenario [scenario]="scenario"></app-scenario>
            </div>
          </cdk-accordion-item>
        </cdk-accordion>
      </div>
      <div class="draw" [ngStyle]="{'-webkit-transform': 'scale('+getScale(servers$ | async)+')'}">
        <ng-container *ngFor="let server of servers$ | async">
          <app-server [server]="server"></app-server>
        </ng-container>
        <ng-container *ngFor="let link of links$ | async">
          <app-link (onHighlightEndpoint)="highlighEndpoint($event)" [link]="link"></app-link>
        </ng-container>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


