<mat-card
  [class]="(isServerActive(activeSteps$ | async)?'active':'inactive')+ ' container'"
  [style.top.px]="server.coordinates.y"
  [style.left.px]="server.coordinates.x"
>

  <div class="technologies">
    <ng-container *ngFor="let technology of server.technologies">
      <img *ngIf="technology === 'symfony'" src="assets/symfony.png" class='sf'>
      <img *ngIf="technology === 'php4'" src="../../assets/php.png" class='php4'>
      <img *ngIf="technology === 'angular'" src="../../assets/angular.png" class='angular'>
      <img *ngIf="technology === 'api platform'" src="../../assets/apiplatform.png" class='apiplatform'>
      <img *ngIf="technology === 'sylius'" src="../../assets/sylius.png" class='sylius'>
      <img *ngIf="technology === 'twig'" src="../../assets/twig.png" class='twig'>
      <img *ngIf="technology === 'google'" src="../../assets/google.png" class='google'>
    </ng-container>
  </div>

  <mat-card-title class="title" [style.backgroundColor]="server.color">{{server.name}}</mat-card-title>
  <mat-card-content *ngIf="isServerActive(activeSteps$ | async) && getActiveStep(activeSteps$ | async)?.algo?.title">
    <button class="algo" mat-raised-button color="primary">{{getActiveStep(activeSteps$ | async)?.algo?.title}}</button>
    <quill-view [content]="getActiveStep(activeSteps$ | async)?.algo?.description" format="html" theme="snow"></quill-view>
  </mat-card-content>

  <mat-card-content *ngIf="isServerActive(activeSteps$ | async) && getActiveStep(activeSteps$ | async)?.request">
    <mat-card-subtitle>Requête</mat-card-subtitle>
    <quill-view [content]="getEndpoint(getActiveStep(activeSteps$ | async), servers$ | async)?.request" format="html" theme="snow"></quill-view>
  </mat-card-content>
  <mat-card-content *ngIf="isServerActive(activeSteps$ | async) && getActiveStep(activeSteps$ | async)?.response">
    <mat-card-subtitle>Réponse</mat-card-subtitle>
    <quill-view [content]="getEndpoint(getActiveStep(activeSteps$ | async), servers$ | async)?.response" format="html" theme="snow"></quill-view>
  </mat-card-content>
  <mat-card-content *ngIf="isTargetServer(activeSteps$ | async) && getActiveStep(activeSteps$ | async)?.request">
    <mat-card-subtitle>Payload</mat-card-subtitle>
    <quill-view [content]="getEndpoint(getActiveStep(activeSteps$ | async), servers$ | async)?.payload" format="html" theme="snow"></quill-view>
  </mat-card-content>
</mat-card>
