<mat-card [class]="(isServerActive(activeStep$ | async)?'active':'inactive')+ ' container'" [style.top.px]="server.coordinates.y" [style.left.px]="server.coordinates.x">

    <!--<img *ngIf="server?.technologies[0]?.name === 'symfony'" src="../../assets/symfony.png" class='sf'>
    <img *ngIf="server?.technologies[0]?.name === 'php4'" src="../../assets/php.png" class='php4'>
    <img *ngIf="server?.technologies[0]?.name === 'angular'" src="../../assets/angular.png" class='angular'>-->

    <mat-card-title>{{server.name}}</mat-card-title>
    <mat-card-content *ngIf="isServerActive(activeStep$ | async) && (activeStep$ | async)?.algo?.title">
        <button class="algo" mat-raised-button color="primary">{{(activeStep$ | async)?.algo?.title}}</button>
        {{(activeStep$ | async)?.algo?.description}}
    </mat-card-content>

    <mat-card-content *ngIf="isServerActive(activeStep$ | async) && (activeStep$ | async)?.request">
        <mat-card-subtitle>Requête</mat-card-subtitle>
        {{getEndpoint(activeStep$ | async, servers$ | async)?.request}}
    </mat-card-content>
    <mat-card-content *ngIf="isServerActive(activeStep$ | async) && (activeStep$ | async)?.response">
        <mat-card-subtitle>Réponse</mat-card-subtitle>
        {{getEndpoint(activeStep$ | async, servers$ | async)?.response}}
    </mat-card-content>
    <mat-card-content *ngIf="isTargetServer(activeStep$ | async) && (activeStep$ | async)?.request">
        <mat-card-subtitle>Payload</mat-card-subtitle>
        {{getEndpoint(activeStep$ | async, servers$ | async)?.payload}}
    </mat-card-content>
</mat-card>