
.example-accordion {
  display: block;
  width: 400px;
}

.example-accordion-item {
  display: block;
  border: solid 1px #ccc;
  border-top: none;
}
#accordion-header-server-0 {
  border-top:solid 1px #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.example-accordion-item-description {
  font-size: 0.85em;
  color: #999;
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 16px;
}

.example-accordion-item-header:hover {
  cursor: pointer;
  background-color: #eee;
}


